p {
    color : red;
    font-family :Gigi,  Chiller,Forte ;
    font-style : bold;
    text-align: center;
    font-size: 50px;
  }

h1 {
     color: chartreuse;
   }

body  { 
       background-color: teal;
       margin: 40px;
      }
