body{
    background-color: #666666;
    font-family: 'Courier New', Courier, monospace;
}
div {
    width: 940px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: white;
}